nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0%;
  background: black;
}

nav a {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:active,
nav a:hover {
  color: grey;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
