.project-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 50%;
  margin-left: -250px;
  bottom: 2%;
  background: black;
  color: white;
  padding: 10px;
  opacity: 0;
  animation: enter 1.5s forwards;
  z-index: 101;
}

.project-menu div {
  padding: 10px;
  border: 1px solid white;
  transition: all 0.5s linear;
}

.project-menu div:hover {
  cursor: pointer;
  border-color: grey;
  color: grey;
}

@media screen and (max-width: 450px) {
  .project-menu {
    top: 0;
    padding-top: 40px;
    z-index: 9;
    bottom: auto;
    font-size: 6px;
    text-align: center;
    left: 0;
    margin-left: 0;
    width: 100%;
  }
}

@keyframes enter {
  100% {
    opacity: 1;
  }
}
